*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
  box-sizing: border-box;
}
.con{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  margin: 1em 0;
}
.number-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.number-box > input{
  padding: .5em 1em;
  border: 1px solid yellowgreen;
}
.operator-box{
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.operator-box > .operator > input{
  display: none;
}
.operator-box > .operator > label{
  font-size: 18px;
  padding: .5em 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
.operator-box > .operator:has(:checked) > label{
  box-shadow: inset 1px 1px 5px rgba(0,0,0,.2);
}
.submit{
  margin-top: 30px;
  border: none;
  background-color: yellowgreen;
  color: white;
  font-size: 18px;
  padding: .5em 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
.submit:active{
  box-shadow: inset 1px 1px 5px rgba(0,0,0,.2);
}
.result{
  margin-top: 20px;
}